.quiz-box {
  width: 500px;
  background-color: whitesmoke;
  padding: 1rem 2rem;
  border-radius: 7px;
}

.questions {
  padding: 1rem 0;
}
.questions h4 {
  font-size: 1.2rem;
}
.variant-btn {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: .6rem;
  background-color: rgba(20, 183, 233, 0.082);
  border: 1px solid rgba(52, 124, 219, 0.384);
  cursor: pointer;
  margin-bottom: 1rem;
  border-radius: 7px;
  transition: .4s all;
  text-transform: capitalize;
}
.variant-btn:hover {
  background-color: rosybrown;
  color: rgb(13, 91, 192);
  background-color: whitesmoke;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(17, 113, 240);
  padding: 10rem 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.637);
  box-shadow: 0px 2px rgba(128, 128, 128, 0.281);
}
header h3 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 900;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.363);
}
.none {
  display: none;
}
.block {
  display: block;
}
.next-prev-btn {
  display: flex;
}
.next-prev-btn button {
  padding: 5px;
  color: white;
  background-color: rgb(17, 113, 240);
  border-radius: 7px;
  margin-right: 5px;
  cursor: pointer;
  transition: .4s all;
  border: 1px solid rgb(17, 113, 240);
}
.next-prev-btn button:hover {
  color: rgb(17, 113, 240);
  background-color: white;
}
.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(20, 183, 233, 0.295);
  padding: 7px;
  border-radius: 7px;
}
.time > span {
  width: 60px;
  color: rgb(0, 140, 255);
}
.time p {
  width: 35px;
  height: 35px;
  margin-left: .4rem;
  background-color: rgba(0, 0, 0, 0.699);
  color: white;
  border-radius: 7px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.score-box{
  width: 100%;
  height: 300px;
  background-color: rgba(128, 128, 128, 0.432);
  color: rgb(78, 3, 3);
  padding: 10px;
  box-shadow: 2px 2px 2px gray;
  border-radius: 7px;
 
}
.score-box button{
  padding: 10px;
  cursor: pointer;
  background-color:rgba(20, 183, 233, 0.295) ;
  border-radius: 7px;
  border: 1px solid rgba(20, 183, 233, 0.295);
  transition: .4s all;
  margin-top: 1rem;
  
}
.score-box button:hover{
  background-color: white;
  color:rgb(20, 183, 233);

}
.score-box h1{
  width: 43%;
  margin: 0 auto;
}
